tr, td{
   border : 1px solid #F3F6FE;

}

th{
    border-top: 1px solid #F3F6FE;
}

.first-th{
    border-left: 1px solid #F3F6FE;
}

.last_th{
    border-right: 1px solid #F3F6FE;
}

#pagination_holder{
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
}