#sell_buy{
    width: 10%;
    color:red;
}

#x{
    border-radius: 25px;
    border-collapse: separate;
    border:none;

}

#trading_board_body{
  padding: 20px 40px;
}

tbody{
    border-radius: 25px;
    
}

td{
    //border-radius: 25px;
}

#d{
    display: flex;
    justify-content: space-between;
}

#trading_board_body{
    //background-color: #F3F6FE;
    //background-color: #F2F3FC;
    background-color: #fbfbff;
    padding-bottom: 20%;
}

.button{
    background-color: #9CAEF8; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {
    border-radius: 4px;
}

.wallet_p{
    font-size: 18px;
}

#trading_b_header{
    font-size: 20px;
}

#buy_quantity{
    padding: 15px;
    width: 100%;
    height: 35px;
    border: 1px solid #9CAEF8;
    margin-bottom: 15px;
}

#buy_button{
    width: 90px;
    height: 30px;
    border: 1px solid #9caef8;
    background-color: white;
    color: black;
    margin-right: 1%;
  }
  
  #buy_button:hover{
    border: 1px solid #FF4081;
    
  }